a{
    text-decoration: none;
    color: #1a2233;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding-top: 25px;
    padding-bottom: 15px;
    list-style: none;
    justify-content: space-evenly;
    background-color: #1a2233;
}
.navbar-1{
    background-color: #9ba8c2;
    border-radius: 30%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.navbar-2{
    background-color: #9ba8c2;
    border-radius: 30%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.navbar-3{
    background-color: #9ba8c2;
    border-radius: 30%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.navbar-4{
    background-color: #9ba8c2;
    border-radius: 30%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.navbar-5{
    background-color: #9ba8c2;
    border-radius: 30%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.navbar-1:hover{
    color: #1a2233;
    background-color: #a5b4fc;
    animation-name: te;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
}
.navbar-2:hover{
    color: #1a2233;
    background-color: #a5b4fc;
    animation-name: te;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
}
.navbar-3:hover{
    color: #1a2233;
    background-color: #a5b4fc;
    animation-name: te;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
}
.navbar-4:hover{
    color: #1a2233;
    background-color: #a5b4fc;
    animation-name: te;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
}
.navbar-5:hover{
    color: #1a2233;
    background-color: #a5b4fc;
    animation-name: te;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
}
@keyframes te {
    0%{
        transform: scale(1);
        border-radius: 35%;
        color: azure;
    }
    25%{
        transform: scale(1.05);
        border-radius: 40%;
        color: #1a2233;
    }
    50%{
        transform: scale(1.1);
        border-radius: 47%;
        color: azure;
    }
    75%{
        transform: scale(1.13);
        border-radius: 48%;
        color: #1a2233;
    }
    100%{
        transform: scale(1.15);
        border-radius: 50%;
    }
}
.titre{
    text-align: center;
    font-size: 2em;
    color: #1a2233;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}